h1 {
  font-family: "Montserrat";
  text-align: center;
  font-size: 4rem;
}
.s1 {
  background: url("../images/whiteSlate.jpg");
  background-size: cover;
  color: rgba(24, 21, 21, 0.885);
}

.s2 {
  background: url("../images/brickWall.jpg");
  background-size: cover;
  color: rgba(223, 212, 212, 0.885);

  h1 {
    text-align: left;
    margin-left: 2em;
    font-size: 6rem;
  }
}

.s3 {
  background: url("../images/redFur.jpg");
  background-size: cover;
  color: rgba(223, 212, 212, 0.885);

  h1 {
    text-align: right;
    margin-right: 2em;
    font-size: 6rem;
  }
}

span {
  background: white !important;
}

.fp-slidesNav .fp-bottom {
  bottom: 17px;
  margin-left: 2rem
  !important;
}
